@import "tailwindcss";

body {
  background-color: #0c1618;
  color: #f7f9f9;
}

/* Custom Scrollbar for the whole app */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1f2937; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #374151; 
}

/* Specific thin scrollbar for horizontal lists */
.thin-scrollbar::-webkit-scrollbar {
  height: 8px;
}
.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(78, 205, 196, 0.2);
  border-radius: 20px;
}
.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(78, 205, 196, 0.5);
}